/* FONTS / APIs */
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slackside+One&display=swap');

header ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    background: var(--col-blue1-100);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

/* CUSTOM PROPERTIES */

:root {

    /* font sizes */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2.0rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.3rem;
    --fontSize-8: 1.4rem;
    --fontSize-9: 0.9rem;
    --fontSize-10: 0.8rem;

    /* font weight */
    --font-weight-norm: 500;
    --font-weight-sBold: 600;
    --font-weight-Bold: 700;
    --font-weight-eBold: 800;

    /* line height */
    --lineH-1: 1.3;
    --lineH-2: 1.5;
    --lineH-3: 1.5;

    /* font gradients */
    --txt-gradient-blue-100: linear-gradient(90deg, hsla(190, 38%, 10%, 1);, hsla(187, 38%, 25%, 1));

    /* colors */
    --col-black-100: hsla(0, 0, 0,1);
    --col-black-075: hsla(0, 0, 0, 0.75);
    --col-black-050: hsla(0, 0, 0, 0.5);
    --col-black-025: hsla(0, 0, 0, 0.25);

    --col-orange1-100: hsla(37, 65%, 62%, 1);
    --col-orange1-075: hsla(37, 65%, 62%, 0.75);
    --col-orange1-050: hsla(37, 65%, 62%, 0.5);
    --col-orange1-025: hsla(37, 65%, 62%, 0.25);

    --col-orange2-100: hsla(37, 100%, 83%, 1);
    --col-orange2-075: hsla(37, 100%, 83%, 0.75);
    --col-orange2-050: hsla(37, 100%, 83%, 0.5);
    --col-orange2-025: hsla(37, 100%, 83%, 0.25);

    --col-blue1-100: hsla(190, 38%, 10%, 1);
    --col-blue1-075: hsla(190, 38%, 10%, 0.75);
    --col-blue1-050: hsla(190, 38%, 10%, 0.5);
    --col-blue1-025: hsla(190, 38%, 10%, 0.25);

    --col-blue2-100: hsla(187, 38%, 25%, 1);
    --col-blue2-075: hsla(187, 38%, 25%, 0.75);
    --col-blue2-050: hsla(187, 38%, 25%, 0.5);
    --col-blue2-025: hsla(187, 38%, 25%, 0.25);

    --col-blue3-100: hsla(189, 32%, 41%, 1);
    --col-blue3-075: hsla(189, 32%, 41%, 0.75);
    --col-blue3-050: hsla(189, 32%, 41%, 0.5);
    --col-blue3-025: hsla(189, 32%, 41%, 0.25);

    --col-blue4-100: hsla(188, 59%, 85%, 1);
    --col-blue4-075: hsla(188, 59%, 85%, 0.75);
    --col-blue4-050: hsla(188, 59%, 85%, 0.5);
    --col-blue4-025: hsla(188, 59%, 85%, 0.25);

    
    --col-gradient-main: linear-gradient(to top, #535e40, #475b43, #3c5847, #35544a, #304f4c, #2d4a4a, #2b4547, #2a4044, #263a3e, #223438, #1f2f32, #1b292c);
    --col-gradient-content1: linear-gradient(to left top, #2f484c, #2a4044, #25383c, #203034, #1b292c);
    --col-gradient-content2: linear-gradient(to left top, #0f3035, #132e33, #162c31, #192b2e, #1b292c);
    --col-gradient-content3: linear-gradient(to left top, #0f30357b, #132e337a, #162c3181, #192b2e, #1b292c);
    --col-gradient-content4: linear-gradient(to bottom, #e5ded1, #ddd5c4, #d6cbb7, #ad9466, #665636);
    --col-gradient-content5: linear-gradient(to bottom, #1b292c, #1c2b2f, #1e2e31, #1f3034, #203337, #21353a, #23383c, #243a3f, #263d42, #284045, #2b4349, #2d464c);
   
    /* border radius */
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-32: 48px;
    --radius-circle: 50%;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'Lato';
    font-style: normal;
  }
  
body {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.navBar {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background: var(--col-blue1-100);
    border-bottom: 0.3vh solid var(--col-blue2-075);
    z-index: 10;
}

.logoMain {
    display: flex;
    position: absolute;
    margin-top: 12px;
    left: 5px;
    width: 180px;
}

.navButton {
    display: flex;
    position: absolute;
    margin-top: 25px;
    right: 10px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background: var(--col-gradient-content5);
    z-index: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.aboutMe {
    width: 90vw;
    padding-top: 50px;
    max-width: 1275px;
}

.aboutMe-subtitle {
    color: var(--col-orange2-100);
}

.aboutMe-subtitle span {
    font-style:italic;
    font-weight: var(--font-weight-Bold);
}

.aboutMe-content {
    padding: 20px 0 0px 0;
    color: var(--col-blue4-075);
    hyphens: auto;
}

.headline {
    color: var(--col-blue4-100);
}
.headline span {
    background: var(--col-gradient-content4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutMe-text {
    text-align: justify;
}

.aboutMe img {
    display: flex;
    margin-top: 10px;
    position: relative;
    height: auto;
    width: 95%;
    max-width: 600px;
    object-fit: contain;
    transform: translate(0%, 5px);
    margin: auto;
}

.topics {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    width: 90vw;
    height: 400px;
    background: var(--col-blue1-100);
    border: 0.1vh solid var(--col-blue4-025);
    border-radius: var(--radius-16);
    max-width: 1275px;
}

.topics ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.topics-title {
    padding: 0px 15px;
    color: var(--col-blue4-075);
}

.topics-title h2 {
    font-size: 18pt;
    color: var(--col-orange2-100);
}

.topics-text {
    margin-top: -10px;
    max-width: 700px;
}

.topics::before,
.topics::after {
    content: "";
    position: absolute;
    top: 5%;
    width: 10px;
    height: 91%;
    background: var(--col-blue1-100);
    z-index: 2;
}

.topics::before {
    left: 0;
    -webkit-mask-image: linear-gradient(to right, black 80%, transparent);
    mask-image: linear-gradient(to right, black 80%, transparent);
}

.topics::after {
    right: 0px;
    -webkit-mask-image: linear-gradient(to left, black 80%, transparent);
    mask-image: linear-gradient(to left, black 80%, transparent);
}

.topic-slider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.topic-slider li:hover { 
    transform: scale(1);
}

.slider-item {
    display: flex;
    scroll-snap-align: center;
    justify-content: center;
    list-style-type: none;
    flex: 1 0 100%;
    margin-right: 15px;
    transform: scale(0.98);
}

.slider-item:last-child {
    margin-right: 0;
}

.slider-item:only-child {
    margin-right: 0;
}

.slider-card {
    flex-direction: column;
    width: 100%;
}

.slider-banner {
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 165px;
    max-height: 260px;
    opacity: 75%;
    border-radius: var(--radius-8);
}

.slider-content {
    position: relative;
    margin-left: calc(15px + 0px);
    top: -70px;
}

.slider-title {
    font-size: var(--fontSize-2);
    padding: 0;
    text-shadow: 1px 1px 2px var(--col-blue1-100);
}

.slider-subtitle {
    font-size: var(--fontSize-7);
    color: var(--col-blue4-100);
    padding: 0;
    text-shadow: 1px 2px 1px black;
    line-height: 0pt;
}

.slider-item a {
    text-decoration: none;
    color: var(--col-orange2-100);
}

.slider-item a:hover {
    color: var(--col-orange1-100);
    transition: color 0.7s ease;
}

.btns-topic {
    display: flex;
    left: 15px;
    position: relative;
    background: transparent;
    gap: 8px;
}

.btns {
    display: flex;
    align-items: center;
    width: 20px;
}

.gravelBike {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 5% 0 5% ;
    width: 90vw;
    max-width: 1275px;
    padding-top: 20px;
}

.aboutGravelBiking {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    align-items: center;
    margin: 0;
    max-width: 90vw;
    padding: 15px 0;
    gap: 15px;
    background: var(--col-blue1-025);
    border-radius: var(--radius-16);
    border: 0.1vh solid var(--col-blue4-025);
}

.gravelText {
    display: flex;
    align-items: center;
    color: var(--col-blue4-100);
    background-image: linear-gradient(to right, var(--col-blue1-100), transparent);
    padding: 15px 35px;
    margin: 0;
    height: 100%;
    z-index: 2;
    border-radius: var(--radius-16) 0 0 var(--radius-16);
}

.aboutGravelBiking img {
    position: relative;
    object-fit: contain;
    transform: translateX(-55px) scale(1.4) translateY(-5px);
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.travel-reports,
.photos-reports {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 5% 0 5% ;
    max-width: 1275px;
}

.reports-headline h2,
.photos-headline h2,
.gravel-headline h2 {
    background: var(--col-gradient-content4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 0 0 0;
}

.reports-headline p,
.photos-headline p,
.gravel-headline p {
    color: var(--col-blue4-075);
    line-height: 0;
    margin-bottom: 25px;
}
.reports-grid,
.photos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
    width: 1275px;
}

.report-item,
.photos-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: var(--radius-8);
    background: var(--col-blue1-100);
    min-width: 20px;
    border: 0.1vh solid var(--col-blue4-025);
}

.report-item:hover,
.photos-item:hover {
    transform: translateY(-5px);
    border-radius: var(--radius-8);
    background: var(--col-blue2-100);
}

.photos-item {
    padding-bottom: 20px;
}

.travel-banner {
    margin: 10px;
    width: calc(100% - 10px);
    height: 260px;
    border-radius: var(--radius-8);
}

.photos-banner {
    margin: 10px;
    width: calc(100% - 10px);
    height: 200px;
    border-radius: var(--radius-8);
}

.travel-tags ul,
.photos-tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--col-blue4-075);
}

.travel-tags li,
.photos-tags li {
    float: left;
}

.travel-tags li:last-child {
    float: right;
}

.content-tag a {
    text-decoration: none;
    padding: 0 10px 0 0px;
    color: var(--col-blue4-075);
}

.reading-time {
    padding-right: 10px;
}
.report-content {
    max-width: 250px;
}

.photos-card {
    text-decoration: none;
}

.report-title,
.photos-title {
    position: relative;
    top: 5px;
    left: 10px;
    margin-right: 20px;
    font-size: var(--fontSize-4);
    padding: 0;
    color: var(--col-orange2-100);
    transition: color 0.4s ease;
}

.report-subtitle {
    position: relative;
    top: -5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: var(--fontSize-7);
    color: var(--col-blue4-075);
}


/* Responsiveness */
/* FONT */
@media screen and (min-width: 1000px) {

    .headline {
        font-size: var(--fontSize-1);
    }

    h2 {
        font-size: var(--fontSize-1);
    }

    p {
        font-size: var(--fontSize-8);
    }

    .aboutMe-subtitle {
        font-size: var(--fontSize-3);
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {

    .headline {
        font-size: var(--fontSize-1);
    }

    h2 {
        font-size: var(--fontSize-1);
    }

    p {
        font-size: var(--fontSize-8);
    }

    .aboutMe-subtitle {
        font-size: var(--fontSize-3);
    }
}

@media screen and (max-width: 599px) {

    .headline {
        font-size: var(--fontSize-2);
    }

    h2 {
        font-size: var(--fontSize-2);
    }

    p {
        font-size: var(--fontSize-8);
    }

    .aboutMe-subtitle {
        font-size: var(--fontSize-4);
    }
}

/* LAYOUT */
@media screen and (min-width: 1401px) {
    .btns {
        display: none;
    }

    .aboutMe img {
        position: absolute;
        width: 600px;
        top: calc(230px + 1%);
        left: 50%;
    }

    .aboutMe-content,
    .aboutMe-subtitle,
    .headline,
    .aboutMe-text {
        width: 500px;
        margin-bottom: 50px;
        margin-top: 60px;
        margin-left: 20px;
    }
    .aboutGravelBiking img {
        transform: translateX(-55px) scale(1.3) translateY(-36px);
    }

    .gravelBike {
        padding-top: 50px;
    }
}

@media screen and (max-width: 1400px) {
    .aboutMe,
    .topics,
    .gravelBike {
        max-width: 949px;
    }

    .reports-grid,
    .photos-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 949px;
    }

    .travel-banner {
        height: 250px;
    }
    
    .photos-banner {
        height: 250px;
    }

    .aboutGravelBiking img {
        transform: translateX(-65px) scale(1.4) translateY(-35px);
    }
}

@media screen and (max-width: 1056px) {
    .aboutMe,
    .topics,
    .gravelBike {
        max-width: 639px;
    }

    .aboutMe img {
        max-width: 450px;
    }

    .reports-grid,
    .photos-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        max-width: 639px;
        width: 90vw;
    }

    .travel-banner {
        height: 200px;
    }
    
    .photos-banner {
        height: 200px;
    }

    .aboutGravelBiking {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 30px;
        height: 536px;
    }
    
    .gravelText {
        order: 2;
        padding: 15px 35px;
        margin: 0;
        height: 100%;
        z-index: 2;
        border-radius: 0 0 var(--radius-16) var(--radius-16);
        background-image: linear-gradient(to top, var(--col-blue1-100), transparent);
    }
    
    .aboutGravelBiking img {
        order: 1;
        position: relative;
        object-fit: contain;
        transform: translateX(0) scale(1.2) translateY(-10px);
        width: 90%;
        max-width: 90%;
        z-index: 1;
        margin: 0 5%;
    }
}

@media screen and (max-width: 550px) {
    .reports-grid,
    .photos-grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 25px;
        max-width: 90vw;
    }
    .travel-banner {
        height: 230px;
    }
    
    .photos-banner {
        height: 230px;
    }

    .report-item:hover,
    .photos-item:hover {
        transform: scale(1.02);
    }
}

@media screen and (min-width: 710px) {
    .topic-slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: nowrap;
      scroll-snap-type: x mandatory;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .slider-item {
      flex: 0 0 300px; 
      margin-right: 10px; 
      margin-left: 0;
      padding: 0;
      scroll-margin: 15px;
    }

    .slider-item:last-child {
        margin-right: 0px; 
      }
  
    .slider-item a {
      text-decoration: none;
    }
  
    .slider-card {
      flex-direction: column;
    }

  }


