/* FONTS / APIs */
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slackside+One&display=swap');

header ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    background: var(--col-blue1-100);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

/* CUSTOM PROPERTIES */

:root {

    /* font sizes */
    --fontSize-1: 2.9rem;
    --fontSize-2: 2.0rem;
    --fontSize-3: 1.8rem;
    --fontSize-4: 1.6rem;
    --fontSize-5: 1.5rem;
    --fontSize-6: 1.4rem;
    --fontSize-7: 1.3rem;
    --fontSize-8: 1.4rem;
    --fontSize-9: 1.2rem;
    --fontSize-9: 0.9rem;
    --fontSize-10: 0.8rem;


    /* font weight */
    --font-weight-norm: 500;
    --font-weight-sBold: 600;
    --font-weight-Bold: 700;
    --font-weight-eBold: 800;

    /* line height */
    --lineH-1: 1.3;
    --lineH-2: 1.5;
    --lineH-3: 1.5;

    /* font gradients */
    --txt-gradient-blue-100: linear-gradient(90deg, hsla(190, 38%, 10%, 1);, hsla(187, 38%, 25%, 1));

    /* colors */
    --col-black-100: hsla(0, 0, 0,1);
    --col-black-075: hsla(0, 0, 0, 0.75);
    --col-black-050: hsla(0, 0, 0, 0.5);
    --col-black-025: hsla(0, 0, 0, 0.25);

    --col-orange1-100: hsla(37, 100%, 50%, 1);
    --col-orange1-075: hsla(37, 100%, 50%, 0.75);
    --col-orange1-050: hsla(37, 100%, 50%, 0.5);
    --col-orange1-025: hsla(37, 100%, 50%, 0.25);

    --col-orange2-100: hsla(37, 100%, 83%, 1);
    --col-orange2-075: hsla(37, 100%, 83%, 0.75);
    --col-orange2-050: hsla(37, 100%, 83%, 0.5);
    --col-orange2-025: hsla(37, 100%, 83%, 0.25);

    --col-blue1-100: hsla(190, 38%, 10%, 1);
    --col-blue1-075: hsla(190, 38%, 10%, 0.75);
    --col-blue1-050: hsla(190, 38%, 10%, 0.5);
    --col-blue1-025: hsla(190, 38%, 10%, 0.25);

    --col-blue2-100: hsla(187, 38%, 25%, 1);
    --col-blue2-075: hsla(187, 38%, 25%, 0.75);
    --col-blue2-050: hsla(187, 38%, 25%, 0.5);
    --col-blue2-025: hsla(187, 38%, 25%, 0.25);

    --col-blue3-100: hsla(189, 32%, 41%, 1);
    --col-blue3-075: hsla(189, 32%, 41%, 0.75);
    --col-blue3-050: hsla(189, 32%, 41%, 0.5);
    --col-blue3-025: hsla(189, 32%, 41%, 0.25);

    --col-blue4-100: hsla(190, 41%, 70%, 1);
    --col-blue4-075: hsla(190, 41%, 70%, 0.75);
    --col-blue4-050: hsla(190, 41%, 70%, 0.5);
    --col-blue4-025: hsla(190, 41%, 70%, 0.25);

    
    --col-gradient-main: linear-gradient(to top, #535e40, #475b43, #3c5847, #35544a, #304f4c, #2d4a4a, #2b4547, #2a4044, #263a3e, #223438, #1f2f32, #1b292c);
    --col-gradient-content1: linear-gradient(to left top, #2f484c, #2a4044, #25383c, #203034, #1b292c);
    --col-gradient-content2: linear-gradient(to left top, #0f3035, #132e33, #162c31, #192b2e, #1b292c);
    --col-gradient-content3: linear-gradient(to left top, #0f30357b, #132e337a, #162c3181, #192b2e, #1b292c);
    --col-gradient-content4: linear-gradient(to bottom, #e5ded1, #ddd5c4, #d6cbb7, #ad9466, #665636);
    --col-gradient-content5: linear-gradient(to bottom, #1b292c, #1c2b2f, #1e2e31, #1f3034, #203337, #21353a, #23383c, #243a3f, #263d42, #284045, #2b4349, #2d464c);
   
    /* border radius */
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-32: 48px;
    --radius-circle: 50%;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'Lato';
    font-style: normal;
  }
  
body {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.navBar {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background: var(--col-blue1-100);
    border-bottom: 0.3vh solid var(--col-blue2-075);
    z-index: 1;
}

.logoMain {
    display: flex;
    position: absolute;
    margin-top: 12px;
    left: 5px;
    width: 180px;
}

.navButton {
    display: flex;
    position: absolute;
    margin-top: 25px;
    right: 10px;
}

/* Main */
main {
    padding-top: 80px; /* Platz für den Header */
    background: var(--col-gradient-content5);
    z-index: 0;
}

.aboutMe {
    padding-top: 50px;
}

.aboutMe-subtitle {
    color: var(--col-blue4-100);
}

.aboutMe-subtitle span {
    color: var(--col-blue4-100);
    font-style:italic;
    font-weight: var(--font-weight-Bold);
}

.aboutMe-content {
    padding: 20px 5% 0px 5%;
    color: var(--col-blue3-100);
    text-align: justify;
    hyphens: auto;
}

.headline {
    color: var(--col-blue4-100);
    font-size: var(--fontSize-4);
}
.headline span {
    background: var(--col-gradient-content4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutMe img {
    display: flex;
    margin-top: 10px;
    position: relative;
    height: auto;
    width: 95%;
    max-width: 600px;
    object-fit: contain;
    transform: translate(0%, 5px);
    margin: auto;
}

.topics {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 90vw;
    height: 350px;
    background: var(--col-gradient-content2);
    border: 0.1vh solid var(--col-blue4-050);
    border-radius: var(--radius-8);
}

.topics-title {
    padding: 0px 15px;
    color: var(--col-blue3-100);
}

.topics-title h2 {
    color: var(--col-blue4-100);
}

.topics-text {
    margin-top: -10px;
}

.topic-slider {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 0;
    margin: 20px 0px;
}

.slider-item {
    justify-content: center;
    list-style-type: none;
    width: 90vw;
    flex: 1;
}

.slider-item a {
    text-decoration: none;
    color: var(--col-orange2-075);
}

.slider-card {
    flex-direction: column;
}

.slider-banner {
    object-fit: cover;
    width: calc(100% - 30px);
    max-width: 400px;
    height: 100%;
    min-height: 165px;
    max-height: 225px;
    margin: 0 15px;
    opacity: 75%;
    border-radius: var(--radius-6);
}

.slider-content {
    position: relative;
    margin-left: calc(15px + 10px);
    top: -60px;
}

.slider-title {
    font-size: var(--fontSize-2);
    padding: 0;
    text-shadow: 1px 1px 2px var(--col-blue1-100);

}

.slider-subtitle {
    font-size: var(--fontSize-10);
    color: var(--col-blue4-100);
    padding: 0;
    text-shadow: 1px 1px 2px var(--col-blue1-100);
    line-height: 0pt;
}

.btns-topic {
    display: flex;
    left: 15px;
    position: relative;
    background: transparent;
    gap: 8px;
}

.btns {
    display: flex;
    align-items: center;
    width: 20px;
  }

.travel-reports {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 5% 0 5% ;
}

.reports-headline {

}

.travel-reports-container {
    padding: 5px 0 0 0;
    list-style-type: none;
    width: 90vw;
    max-width: 400px;
}

.report-item {
    border-radius: var(--radius-8);
    background: var(--col-blue2-100);
}

.travel-banner {
    margin: 10px;
    width: calc(100% - 10px);
    height: 150px;
    border-radius: var(--radius-8);
}

.travel-tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.travel-tags li {
    float: left;
}

.travel-tags li:last-child {
    float: right;
}
.content-tag a {
    text-decoration: none;
    padding: 0 10px 0 0px;
}

.reading-time {
    padding-right: 10px;
}